.grid{
    display:inline-block;
    width: 100%;
    margin: 80px 0 0 0;
    position:relative;
    justify-content: center;
}

.cardstyle{
    /* width: 18rem; */
    width: 26%;
    margin: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: darkblue;
    border-radius: 5px;
}

.card {
    padding: 5px 5px !important;
    height: auto !important;
    justify-content: center;
    margin: 2rem;
}

.card-body {
    background-color: darkblue;
}

.card-text {
    height: fit-content;
    /* margin-bottom: 2rem; */
}
